/* Dark Mode */

/*---- Requirements ----*/

@font-face {
    font-family: "arcade";
    src: url("../resources/fonts/ARCADECLASSIC.ttf");
}

@font-face {
    font-family: "eb";
    src: url("../resources/fonts/Inter-ExtraBold.ttf");
}

@font-face {
    font-family: "m";
    src: url("../resources/fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: "sb";
    src: url("../resources/fonts/Inter-SemiBold.ttf");
}

/*---- Global ----*/

* {
    margin: 0;
    padding: 0;
}

.active {
    display: block;
    width: auto;
    height: auto;
    transition: all 0.5s;
}

.hidden {
    display: none;
    transition: all 0.5s;
}

.forbiddenError,
.notFoundError {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    color: aliceblue;
    gap: 15px;
}

.forbiddenError h1,
.notFoundError h1 {
    font-family: "arcade";
    font-size: 250px;
}

.forbiddenError p,
.notFoundError p {
    font-family: "m";
    font-size: 20px;
}

.forbiddenError a,
.notFoundError a {
    text-decoration: none;
    color: rgb(0, 102, 255);
    transition: all 0.3s;
    font-size: 20px;
    font-family: "m";
}

.forbiddenError a:hover,
.notFoundError a:hover {
    text-decoration: underline;
    color: rgb(8, 0, 237);
    transition: all 0.3s;
}

.normalBG {
    background-image: linear-gradient(45deg, #111111, #141820, rgb(0, 25, 61));
    background-attachment: fixed;
}

.blackBG {
    background-image: linear-gradient(135deg,
            rgb(1, 12, 26),
            #04060a,
            rgb(0, 0, 0));
    background-attachment: fixed;
}

hr {
    opacity: 0.25;
    background-color: #3b4244;
    user-select: none;
}

header {
    background-color: #72727240;
    height: 120px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    bottom: 0;

    background-color: black;
    width: 100%;
    height: 12vh;
    line-height: 2;
    font-family: "m";
    color: aliceblue;
    user-select: none;
}

footer a {
    text-decoration: none;
    color: rgb(0, 102, 255);
    transition: all 0.3s;
}

footer a:hover {
    text-decoration: underline;
    color: rgb(8, 0, 237);
    transition: all 0.3s;
}

.burger_menu {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
}

.menu_content {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

/*---- Index ----*/

.A {
    margin-right: 10px;
    align-items: center;
}

.A button {
    width: 120px;
    height: 50px;
    border-radius: 3px;
    margin: 10px;
    gap: 10px;

    position: relative;
    border: none;
    background-color: #ddddddf0;

    font-family: 'sb';
    font-size: 13px;

    transition: border-radius 0.3s, border 0.3s, background-color 0.3s, color 0.3s, transform 0.3s;
}

.A button:hover {
    transform: scale(1.1);
    cursor: pointer;

    border: rgb(0, 102, 255) solid 2px;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgba(0, 102, 255, 0.251);

    transition: all 0.3s;
}

.header_btn1 .display, .header_btn2 .display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.B button {
    font-family: "eb";
    background-color: transparent;
    border: none;
    border-radius: 30px;

    width: 100px;
    height: 80px;

    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

.B button:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.3s;
    filter: invert(52%) sepia(96%) saturate(750%) hue-rotate(185deg) brightness(90%) contrast(90%);
}

.B label {
    color: white;
}

.B img {
    height: 50px;
    width: auto;
    transition: all 0.3s;
}

.headerTitle {
    font-family: "arcade";
    color: aliceblue;
    letter-spacing: 3px;
    text-shadow: 2px 2px 40px #7a7a7a;
    user-select: none;
    font-size: 60px;
}

.logo {
    height: 110px;
    top: 10px;
    margin-right: 15px;
}

.h_left {
    padding-left: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.h_right {
    padding: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.void-main {
    padding: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainTitle {
    user-select: none;
    color: aliceblue;
    font-family: "eb";
    font-size: 7vw;
}

@keyframes gvTitleAnim {
    0% {
        color: aliceblue;
        text-shadow: 2px 2px 30px #afafaf;
    }

    25% {
        /* color: rgb(132, 181, 223); */
        text-shadow: 2px 2px 30px rgba(132, 181, 223, 0.6);
    }

    50% {
        /* color: rgb(63, 122, 173); */
        text-shadow: 2px 2px 30px rgba(63, 122, 173, 0.6);
    }

    75% {
        /* color: rgb(132, 181, 223); */
        text-shadow: 2px 2px 30px rgba(132, 181, 223, 0.6);
    }

    100% {
        color: aliceblue;
        text-shadow: 2px 2px 30px #afafaf;
    }
}

.gvTitle {
    animation: gvTitleAnim linear 5s infinite;
    color: aliceblue;
    user-select: none;
    font-family: "arcade";
    font-size: 10vw;
    letter-spacing: 10px;
    text-shadow: 2px 2px 30px rgba(240, 248, 255, 0.6);
}

.void0 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 55vw;
    height: auto;
    padding: 4vh;
    padding-left: 3.5vw;
}

.pjtOverview {
    font-family: "eb";
    font-size: 5vw;
    color: aliceblue;
    text-shadow: 5px 5px 10px #111111;
    user-select: none;
}

.descOverview {
    font-family: "m";
    font-size: 1.4vw;
    color: aliceblue;
    text-shadow: 5px 5px 10px #111111;
    margin-top: 2vh;
    text-align: justify;
    width: 50vw;
    user-select: none;
    line-height: 1.8;
}

/*---- Login & Register ----*/

/* TODO: Responsive sur Login & Register */

#login,
#register {
    display: flex;
    flex-direction: row;
}

.lContainer,
.rContainer {
    background-color: rgba(0, 0, 0, 0.48);
    z-index: 6;
    height: 100vh;
    width: 45vw;
    position: relative;
    overflow: hidden;

    display: flex;
    color: aliceblue;
}

.lContainer>hr,
.rContainer>hr {
    opacity: 0.2;
}

.lBox,
.rBox {
    width: 45vw;
    height: auto;
    /* border: red 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#lParts h1,
#pParts h1,
.rParts>h1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "arcade";
    text-shadow: 2px 2px 30px #afafaf80;
    font-size: 75px;
    margin-bottom: 30px;
    user-select: none;
}

#lParts form,
#pParts form,
.rParts form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.register {
    font-family: "m";
    font-size: 15px;
    width: 25vw;
    padding: 17px;
    border-radius: 5px;
    border: solid 0.5px #f0f8ff90;
    background-image: linear-gradient(45deg, #212121, #232323);
    color: aliceblue;
    user-select: none;
}

.show-hide-password,
.show-hide-cpassword {
    position: relative;
}

.show-hide-password input[type="password"],
.show-hide-cpassword input[type="password"] {
    position: relative;
}

.show-hide-password img,
.show-hide-cpassword img {
    position: absolute;
    width: 20px;
    height: auto;
    top: 7.5px;
    right: 10px;
    padding: 10px;
    transition: all 0.3s;
    border-radius: 10px;
}

.show-hide-password img:hover,
.show-hide-cpassword img:hover {
    transform: scale(1.2);
    transition: all 0.3s;
    cursor: pointer;
}

#registerBtn,
#loginBtn,
#fpBtn,
#npBtn {
    font-family: "eb";
    font-size: 15px;
    width: 10vw;
    padding: 17px;
    border-radius: 5px;
    transition: all 0.3s;
}

#registerBtn:hover,
#loginBtn:hover,
#fpBtn:hover,
#npBtn:hover {
    cursor: pointer;
    border: rgb(0, 102, 255) solid 2px;
    border-radius: 10px;
    color: aliceblue;
    background-color: rgba(0, 102, 255, 0.251);
}

@keyframes popupAnimation {
    0% {
        display: block;
        opacity: 0;
        transform: scale(0.9) translateY(-10px);
    }

    10% {
        opacity: 1;
        transform: scale(1) translateY(0px);
    }

    89% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }

    99% {
        display: none;
        opacity: 0;
        transform: scale(0.9) translateY(-10px);
    }
}

.lrfnSuccess,
.lrfnError {
    position: absolute;
    top: 3%;
    /* left: 50%; */
    transform: translateX(-50%);
    font-family: "m";
    font-size: 15px;
    color: aliceblue;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    max-width: 70%;
    word-wrap: break-word;
    border: rgb(124, 0, 0) 2px solid;
    border-radius: 20px;
    background-color: rgba(124, 0, 0, 0.415);
    display: none;
    opacity: 0;
    animation: popupAnimation 5s ease forwards;
    user-select: none;
}

.lrfnSuccess {
    border: rgb(0, 124, 8) 2px solid;
    border-radius: 20px;
    background-color: rgba(0, 124, 8, 0.415);
}

.lrfnError {
    border: rgb(124, 0, 0) 2px solid;
    border-radius: 20px;
    background-color: rgba(124, 0, 0, 0.415);
}

#lParts p,
#pParts p,
.rParts p {
    font-family: "m";
    font-size: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    user-select: none;
}

#lParts a,
#pParts a,
.rParts a {
    text-decoration: none;
    color: rgb(0, 102, 255);
    transition: all 0.3s;
}

#lParts a:hover,
#pParts a:hover,
.rParts a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: rgb(8, 0, 237);
    transition: all 0.3s;
}

.rTitle {
    position: relative;
    width: 55vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    user-select: none;
    /* border: red 1px solid; */
}

.rTitle>img {
    width: 260px;
    height: 260px;
}

.rTitle>h1 {
    font-family: "arcade";
    font-size: 100px;
    letter-spacing: 5px;
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 30px #afafafaa;
}

/*---- Profile ----*/

.mainProfileContainer {
    position: relative;
    left: 20vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 60vw;
    gap: 20px;
    /* border: lime solid 1px; */
}

.mainProfileContainer h1 {
    font-family: "arcade";
    font-size: 5vw;
    color: aliceblue;
    text-shadow: 2px 2px 30px #afafafaa;
}

.profileHeader {
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5vw;
    align-items: center;
    /* border: blue solid 1px; */
}

.returnBtn {
    background: none;
    border: none;
    position: absolute;
    right: 2vw;
    top: 3vw;
    cursor: pointer;
    transition: transform 0.3s;
}

.returnBtn img {
    width: 6vw;
    height: vw;
}

.returnBtn:hover {
    transform: scale(1.1);
}


.proSuccess,
.proError {
    /* left: 50%; */
    font-family: "m";
    font-size: 17.5px;
    color: aliceblue;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    min-width: 10vw;
    max-width: 30vw;
    word-wrap: break-word;
    border: rgb(124, 0, 0) 2px solid;
    border-radius: 20px;
    background-color: rgba(124, 0, 0, 0.415);
    display: none;
    animation: popupAnimation 5s ease forwards;
    user-select: none;
}

.proSuccess {
    border: rgb(0, 124, 8) 2px solid;
    border-radius: 20px;
    background-color: rgba(0, 124, 8, 0.415);
}

.proError {
    border: rgb(124, 0, 0) 2px solid;
    border-radius: 20px;
    background-color: rgba(124, 0, 0, 0.415);
}

.profileContainer {
    margin-top: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pp {
    width: 7vw;
    height: 7vw;
    object-fit: cover;
    margin-left: 3vw;
    border: aliceblue solid 3px;
    border-radius: 10px;
    transition: all 0.3s;
}

#pp:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.3s;
}

.usernameTab {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#username {
    font-family: "eb";
    font-size: 3vw;
    color: aliceblue;
    margin-left: 3vw;
    max-width: 40vw;
    user-select: none;
}

#usernameInput {
    font-family: "m";
    font-size: 3vw;
    color: aliceblue;
    background-color: transparent;
    border: aliceblue solid 2px;
    border-radius: 20px;
    margin-left: 3vw;
    padding: 10px;
    width: 30vw;
    max-width: 40vw;
}

.editUsername {
    background-color: transparent;
    width: 4vw;
    height: auto;
    position: relative;
    top: 0.5vh;
    margin-left: 2vw;
    border: solid 2px transparent;
    border-radius: 20px;
    transition: all 0.3s;
}

.editUsername:hover {
    /* background-color: rgba(0, 102, 255, 0.251);
    border: solid 2px rgb(0, 102, 255); */
    transform: scale(1.1);
    transition: all 0.3s;
    cursor: pointer;
}

.editUsername img {
    height: 6vh;
}

.profileTabs {
    font-family: "m";
    padding: 1vw;
    font-size: 2vw;
    color: white;
}

.accountContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.profileLinkings {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.profileLinkings img {
    display: inline;
    width: 3vw;
    height: 3vw;
}

.profileLinkings button {
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4vw;
    height: 4vw;
    border: solid 2px aliceblue;
    border-radius: 10px;
    transition: all 0.3s;
}

.profileLinkings button:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: all 0.3s;
}

.profileImportant {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.profileImportant button {
    font-family: "m";
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
    width: 13vw;
    height: 7vh;
    border: black solid 2px;
    border-radius: 10px;
    margin: 1vh;
    transition: all 0.3s;
}

.profileImportant button:hover {
    transform: scale(1.05);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

#logoutBtn:hover,
#changeEPBtn:hover {
    border: aliceblue solid 3px;
    color: aliceblue;
    background-color: black;
}

#deleteAccBtn:hover {
    border: rgb(188, 0, 0) solid 3px;
    color: aliceblue;
    background-color: rgb(94, 0, 0);
}


/*---- Theme ----*/


.themeContainer {
    text-align: center;
}

.themeContainer h2 {
    font-family: 'arcade';
    font-size: 5vw;
    color: aliceblue;
    text-align: left;
    margin-left: 1vw;
}

.modeSelection {
    display: flex;
    gap: 3vw;
    justify-content: center;
    margin-top: 3vw;
    margin-left: auto;
    margin-right: auto;
}

.modeOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    background-color: whitesmoke;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.modeOption.selected {
    border: 8px white solid;
    background-color: black;
    color: aliceblue;
}

.modeOption:hover {
    transform: scale(1.05);
    border: 10px aliceblue solid;
    color: aliceblue;
    background-color: black;
}

.modeOption img {
    width: 25vw;
    height: 11vw;
    margin-bottom: 0.5vw;
}

.textMode {
    font-family: 'm';
    font-size: 2vw;
}

.separator {
    width: 100%;
    margin: 2vw auto;
    border: none;
    border-top: 2px solid aliceblue;
}

.themeOptions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5vw;
    margin-top: 3vw;
    justify-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.themeOption {
    width: 17vw;
    height: 9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 5px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.themeOption.selected {
    border: 7px solid rgb(95, 98, 124);
    background-color: black;
    color: black;

}

.themeOption:hover {
    transform: scale(1.05);
    border: 10px solid rgb(255, 255, 255);
    color: black;
    background-color: black;
}


.themeOption img {
    max-width: 95%;
    max-height: 95%;
}

/*---- Préférences ----*/
.preferencesContainer h2 {
    font-family: 'arcade';
    font-size: 5vw;
    color: aliceblue;
}


/*!---- Library (For testing) ----*/

.sContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    /* border: red 1px solid; */
}

.searchBar {
    font-family: "sb";
    font-size: 15px;
    color: aliceblue;
    width: 20vw;
    height: auto;
    padding: 17px;
    background-color: black;
    border: solid aliceblue 2px;
    border-radius: 10px;
    transition: all 0.3s;
}

.searchBar:hover {
    transform: scale(1.05);
    border: solid rgb(0, 102, 255) 2px;
    border-radius: 10px;
}

#h {
    font-family: "eb";
    color: aliceblue;
    text-decoration: underline;
    font-size: 40px;
}

#name-list {
    font-family: "m";
    color: aliceblue;
    font-size: 20px;
}

/*---- Responsive Part ----*/

/* TODO: Media screen a 650px width */

@media (max-width: 980px) { 
    footer {
        bottom: 0;
    }
    .A {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .A button {
        width: 90px;
    }

    .headerTitle {
        text-align: center;
        width: 8vw;
        font-size: 40px;
    }

    .mainTitle {
        font-size: 70px;
    }

    .gvTitle {
        letter-spacing: 5px;
        font-size: 10vw;
        margin-bottom: 30px;
    }

    .void0 {
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .pjtOverview {
        text-align: center;
        font-size: 50px;
    }

    .descOverview {
        font-size: 15px;
        color: aliceblue;
        margin-top: 5px;
        text-align: center;
        width: 70%;
    }
}

@media (max-width: 875px) {
    .A button {
        width: 90px;
    }

    .gvTitle {
        font-size: 15vw;
        letter-spacing: 3px;
    }
}

@media (max-width: 700px) {
    header {
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        user-select: none;
    }

    footer {
        font-size: 12px;
    }

    .logo {
        height: 60px;
        top: 10px;
        margin-right: 15px;
    }

    .headerTitle {
        text-align: center;
        width: 300px;
        font-size: 40px;
    }

    .h_right {
        padding-right: 8vw;
        align-items: center;
    }

    .burger_menu {
        display: block;
        width: 40px;
        height: 40px;
    }

    .menu_content {
        display: none;
        position: absolute;
        top: 60px;
        right: 20px;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.8);
        padding: 10px;
        border-radius: 5px;
    }

    .menu_content .A {
        display: flex;
        flex-direction: column;
    }

    .menu_content.show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu_content button {
        margin: 5px 0;
    }

    .gvTitle {
        font-size: 16vw;
        white-space: nowrap;
        letter-spacing: 2px;
    }

    .descOverview {
        width: 80%;
    }
}